@import "/src/styles/variables";

:host {
  display: block;
  height: 100%;
}

.container {
  height: 200px;
  padding: 5px 20px 5px 20px;
}

.leave {
  cursor: pointer;
}

.empty-slot {
  cursor: pointer;
  border: 1px dashed white;
  transition: border 0.3s;

  &:hover {
    border: 1px solid $accent-color;
  }
}
