<ng-container *ngIf="slot && slot.playerName; else emptySlot">
  <ng-container [ngTemplateOutlet]="main"></ng-container>
</ng-container>

<ng-template #main>
  <div
    *ngIf="slot"
    fxFlex
    style="position: relative"
    class="container"
    fxLayout="column"
    [fxLayoutAlign]="slotNumber % 2 === 0 ? 'space-between end' : 'space-between start'">

    <app-champion-images
      #champions
      (selected)="selectChampion($event)"
      [champions]="getChampionList()"
      [selectedChampion]="selectedChampion"
      [editable]="isMyPlayer">
    </app-champion-images>

    <div fxLayout="column" fxLayoutAlign="start center" style="position: absolute; left: 5%; top: 10%;">
      <div fxLayout="row" fxLayoutAlign="start center">
        <Strong>{{ slot.playerName }}</Strong>
        <mat-icon class="leave" *ngIf="isMyPlayer" matTooltip="Leave slot" (click)="onLeaveSlot()">close</mat-icon>
      </div>

      <strong style="color: red !important;" *ngIf="!champions.selectedChampion">Not ready</strong>
      <strong style="color: mediumseagreen !important;" *ngIf="champions.selectedChampion">Ready</strong>
    </div>
  </div>
</ng-template>

<ng-template #emptySlot>
  <div
    fxFlex
    class="container empty-slot"
    fxLayout="column"
    fxLayoutAlign="center center"
    (click)="onJoinSlot()">
    Empty slot - click to join
  </div>
</ng-template>
