:host {
    width: 100%;
}

.toolbar--container__wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 2%;
  margin-right: 2%;
}

.toolbar--container__logo {
  max-width: 100%;
}

.toolbar--container__logo img {
  max-width: 150px;
}

.toolbar--container__pagination {
  gap: 25px;
}
