<mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="toolbar--container__wrapper">
    <div class="toolbar--container__pagination" fxFlex fxLayout="row">
        <button class="pagination--button" mat-button mat-button-raised routerLink="/"><span>Dashboard</span></button>
        <button class="pagination--button" mat-button mat-button-raise routerLink="dojo"><span>The Dojo</span></button>
    </div>
    <div class="toolbar--container__logo"><img src="../../assets/Logo-wht-txt.png" alt="loldojo-logo"></div>
</mat-toolbar-row>