<div fxFlex>
  <div class="dark-theme card-radius" >
    <div class="card card-radius" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px;">
      <h1>Who are you?</h1>

      <mat-form-field>
        <mat-select [(ngModel)]="selectedAccount">
          <mat-option *ngFor="let account of accounts" [value]="account.name">
            {{ account.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        [disabled]="!selectedAccount"
        mat-button
        mat-raised-button
        color="primary"
        (click)="proceed(selectedAccount!)">
        Enter the dojo
      </button>
    </div>
  </div>
</div>
