@use "@angular/material" as mat;

$my-app-dark-primary: mat.define-palette(mat.$indigo-palette);
$my-app-dark-accent: mat.define-palette(mat.$deep-purple-palette, A700);
$my-app-dark-warn: mat.define-palette(mat.$red-palette);
$my-app-dark-background: mat.define-palette(mat.$gray-palette);
$my-app-dark-foreground: mat.define-palette(mat.$gray-palette);

$my-app-dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $my-app-dark-primary,
        accent: $my-app-dark-accent,
        warn: $my-app-dark-warn
      ),
    )
);
