<div class="battle--container__wrapping card" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
  <div class="battle--container__content" fxFlex.gt-sm="70" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="15px">
    <h1 mat-headline class="battle--container__title color-alternate">Prepare for battle</h1>
    <span mat-body-1 class="battle--container__desc color-alternate">Are you ready for battle? Well click the button and go take a step into our dojo, here you can create your perfect game and invite your friends too! Well what are you waiting for get going! </span>
    <button mat-flat-button class="battle--container__button mat-accent"><span class="color-alternate">Enter the dojo</span></button>
  </div>
  <div fxHide fxShow.gt-sm class="battle--container__image">
    <img src="../../assets/lee-sin.png" alt="loldojo-leesin">
  </div>  
</div>
