:host {
  display: block;
  width: 100%;
}

.battle--container__wrapping {
  width: 100%;
  height: fit-content;
  position: relative;
}

.battle--container__content {
  z-index: 1;
}

.battle--container__desc {
  padding-bottom: 15px;
}

.battle--container__button {
  width: fit-content;
}

.battle--container__image img {
  height: 125%;
  width: auto;
  position: absolute;
  bottom: 0;
  right: 3%;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 30%);
  mask-image: linear-gradient(to top, transparent 0%, black 30%);
}