<div class="container battle--container__wrapping" fxFlex fxLayout="row" fxLayoutAlign="center left">
  <div class="battle--container__content" fxFlex="70" fxLayout="column" >
    <div class="battle--container__text" fxFlex fxLayout="column">
      <span class="battle--container__title color-alternate">Pick your challenger</span>
      <span class="text-focus-in"><i class="color-alternate">"{{ selectedQuote }}"</i></span>
      <span class="battle--container__description color-alternate">Pellentesque laoreet sem vitae odio finibus, a consequat sem auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet laoreet dui. Aenean lacinia purus a rutrum fringilla. Praesent sit amet consequat felis.</span>
    </div>
    <div class="battle--container__button">
      <button routerLink="dojo" style="width: fit-content; height: 50px;" mat-button mat-raised-button color="accent">
        <span class="color-alternate">Enter the dojo</span>
        <mat-icon class="color-alternate">gamepad</mat-icon>
      </button>
    </div>
  </div>
  <div class="battle--container__image" fxFlex fxlayoutalign="end">
    <img src="../../assets/lee-sin.png" alt="lee-sin__start-battle">
  </div>
</div>
