<form *ngIf="battleForm && data" [formGroup]="battleForm" fxFlexFill fxLayout="column">
  <div fxFlex style="overflow-x: hidden" fxLayout="column" fxLayoutAlign="center stretch">
    <div fxLayout="row" fxFlex>
      <div
        fxFlex="50"
        style="text-align: end; position: relative"
        fxLayoutAlign="center center">
        <div fxFlex class="champion-img-container">
          <img *ngIf="opponent1BackgroundImage" [src]="opponent1BackgroundImage" class="champion-img">
        </div>
        <div class="opponent slide-in-left">{{ data.opponent1 }}</div>
      </div>

      <mat-divider vertical></mat-divider>

      <div fxFlex="50" fxLayoutAlign="center center" style="position: relative">
        <div class="champion-img-container">
          <img *ngIf="opponent2BackgroundImage" [src]="opponent2BackgroundImage" class="champion-img">
        </div>
        <div class="opponent slide-in-right">{{ data.opponent2 }}</div>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div class="lane">In the {{ data.lane }} lane</div>
    <div class="champion-format">With {{ data.championFormat }} champions</div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <mat-form-field>
        <mat-label>{{ data.opponent1 }}'s champion</mat-label>
        <mat-select formControlName="opponent1Champion" (valueChange)="onValueChange($event, 1)">
          <mat-option *ngFor="let champion of champions?.data | keyvalue" [value]="champion.value">
            {{ champion.value.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ data.opponent2 }}'s champion</mat-label>
        <mat-select formControlName="opponent2Champion" (valueChange)="onValueChange($event, 2)">
          <mat-option *ngFor="let champion of champions?.data | keyvalue" [value]="champion.value">
            {{ champion.value.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="column">
      <p>Choose your champions and hit the start button once summoners rift has loaded</p>
      <button [disabled]="data && battleForm && !battleForm.valid" mat-raised-button color="primary">Start</button>
    </div>
  </div>
</form>
