<form *ngIf="form" [formGroup]="form">
  <mat-stepper #stepper orientation="vertical" style="background: transparent">
    <mat-step fxFlex>
      <ng-template matStepLabel>Party size</ng-template>
      <div fxFlex>
        <div fxFlex="50" style="text-align: center">
          <button
            mat-button
            mat-raised-button
            color="primary"
            (click)="setMode('1v1'); stepper.next()">
            <span class="color-alternate">1 vs 1</span>
          </button>
        </div>
        <mat-divider vertical></mat-divider>
        <div fxFlex="50" style="text-align: center">
          <button
            mat-button
            mat-raised-button
            color="primary"
            (click)="setMode('2v2'); stepper.next()">
            <span class="color-alternate">2 vs 2</span>
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step fxFlex>
      <ng-template matStepLabel>Players</ng-template>

      <div fxLayout="column">
        <mat-form-field>
          <mat-label>Player 1</mat-label>
          <mat-select disableOptionCentering formControlName="opponent1" (valueChange)="onOpponent1Change($event)">
            <mat-option *ngFor="let account of accounts" [value]="account.name">
              {{ account.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Player 2</mat-label>
          <mat-select disableOptionCentering formControlName="opponent2" (valueChange)="onOpponent1Change($event)">
            <mat-option *ngFor="let account of accounts" [value]="account.name">
              {{ account.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="mode === '2v2'">
          <mat-label>Player 3</mat-label>
          <mat-select disableOptionCentering formControlName="opponent3" (valueChange)="onOpponent1Change($event)">
            <mat-option *ngFor="let account of accounts" [value]="account.name">
              {{ account.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="mode === '2v2'">
          <mat-label>Player 4</mat-label>
          <mat-select disableOptionCentering formControlName="opponent4" (valueChange)="onOpponent1Change($event)">
            <mat-option *ngFor="let account of accounts" [value]="account.name">
              {{ account.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Settings</ng-template>
      <h3>Choose your lane</h3>
      <mat-radio-group fxLayout="column" color="primary" formControlName="lane">
        <mat-radio-button value="Top">Top</mat-radio-button>
        <mat-radio-button value="Mid">Mid</mat-radio-button>
        <mat-radio-button value="Bot">Bot</mat-radio-button>
        <mat-radio-button value="Random">The gods shall decide my fate</mat-radio-button>
      </mat-radio-group>

      <h3>Choose your format</h3>
      <mat-radio-group fxLayout="column" color="primary" formControlName="championFormat">
        <mat-radio-button value="Assassin">Assassin</mat-radio-button>
        <mat-radio-button value="Fighter">Fighter</mat-radio-button>
        <mat-radio-button value="Mage">Mage</mat-radio-button>
        <mat-radio-button value="Marksman">Marksman</mat-radio-button>
        <mat-radio-button value="Support">Support</mat-radio-button>
        <mat-radio-button value="Tank">Tank</mat-radio-button>
        <mat-radio-button value="All">All</mat-radio-button>
      </mat-radio-group>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Do battle</ng-template>
      <button [disabled]="!form.valid" mat-button mat-raised-button color="accent" (click)="onComplete()">
        <span>Onwards, to glory or ruin</span>
        <mat-icon>gamepad</mat-icon>
      </button>
    </mat-step>
  </mat-stepper>
</form>
