<form *ngIf="form" [formGroup]="form" class="dark-theme" style="border-radius: 20px;" fxFlex>
  <div fxFlex class="card card-radius" fxLayout="column" fxLayoutAlign="start center">
    <app-quote></app-quote>

    <mat-divider style="margin: 20px; width: 70%;"></mat-divider>

    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
      <button
        mat-button
        mat-raised-button
        color="primary"
        (click)="setMode('1v1');">
        <span class="color-alternate">1 vs 1</span>
      </button>

      <button
        mat-button
        mat-raised-button
        color="primary"
        (click)="setMode('2v2');">
        <span class="color-alternate">2 vs 2</span>
      </button>
    </div>

    <div fxFlex fxLayout="column" fxLayoutGap="20px" *ngIf="mode !== undefined">
      <div style="margin: 20px;" fxLayout="row wrap" fxLayoutGap="20px">
        <mat-form-field>
          <mat-label>Player 1</mat-label>
          <mat-select disableOptionCentering formControlName="opponent1" (valueChange)="onOpponent1Change($event)">
            <mat-option *ngFor="let account of accounts" [value]="account.name">
              {{ account.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Player 2</mat-label>
          <mat-select disableOptionCentering formControlName="opponent2" (valueChange)="onOpponent1Change($event)">
            <mat-option *ngFor="let account of accounts" [value]="account.name">
              {{ account.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="mode === '2v2'">
          <mat-label>Player 3</mat-label>
          <mat-select disableOptionCentering formControlName="opponent3" (valueChange)="onOpponent1Change($event)">
            <mat-option *ngFor="let account of accounts" [value]="account.name">
              {{ account.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="mode === '2v2'">
          <mat-label>Player 4</mat-label>
          <mat-select disableOptionCentering formControlName="opponent4" (valueChange)="onOpponent1Change($event)">
            <mat-option *ngFor="let account of accounts" [value]="account.name">
              {{ account.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-checkbox *ngIf="mode === '2v2'" formControlName="randomTeams">
        Randomise teams <small><i>- If unchecked, teams will be p1 and p3 versus p2 and p4</i></small>
      </mat-checkbox>

      <h3>Choose your lane</h3>
      <mat-radio-group fxLayout="column" color="primary" formControlName="lane">
        <mat-radio-button value="Top">Top</mat-radio-button>
        <mat-radio-button value="Mid">Mid</mat-radio-button>
        <mat-radio-button value="Bot">Bot</mat-radio-button>
        <mat-radio-button value="Random">The gods shall decide my fate</mat-radio-button>
      </mat-radio-group>

      <h3>Choose your champion format</h3>
      <mat-radio-group fxLayout="column" color="primary" formControlName="championFormat">
        <mat-radio-button value="Assassin">Assassin</mat-radio-button>
        <mat-radio-button value="Fighter">Fighter</mat-radio-button>
        <mat-radio-button value="Mage">Mage</mat-radio-button>
        <mat-radio-button value="Marksman">Marksman</mat-radio-button>
        <mat-radio-button value="Support">Support</mat-radio-button>
        <mat-radio-button value="Tank">Tank</mat-radio-button>
        <mat-radio-button value="All">All</mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
        <mat-label>Number of kills to win</mat-label>
        <input type="number" matInput formControlName="killsToWin">
      </mat-form-field>
    </div>

    <button *ngIf="mode" [disabled]="!form.valid" mat-button mat-raised-button color="accent" (click)="onComplete()">
      <span>Onwards, to glory or ruin</span>
      <mat-icon>gamepad</mat-icon>
    </button>
  </div>
</form>
