:host {
  display: block;
}

.sidenav--content__logo:hover {
  -webkit-animation: rotate-center 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000) 100ms both;
  animation: rotate-center 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000) 100ms both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
  @keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.sidenav--content__logo {
  padding: 20px;
}

.sidenav--content__logo {
  max-height: 100%;
  width: 35px;
  height: auto;
  margin-bottom: 50px;
  cursor: pointer;
}

.sidenav--content__navigation {
  gap: 30px;
  margin: 0 auto;
}
