@use "@angular/material" as mat;
@import "/src/styles/light-theme";
@import "/src/styles/dark-theme";
@import "/src/styles/loldojo-theme.scss";
@import '~@angular/material/theming';
@import '/src/styles/variables.scss';

body {
  height: 100vh;
  margin: 0;

  //Light theme background color
  background: mat.get-color-from-palette($mat-light-theme-background) !important;
}

* {
  //Light theme default text color
  color: $dark-text;
}

.color-alternate {
  //Light theme alternate text color - for darker backgrounds
  color: $light-text !important;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.card {
  background: mat.get-color-from-palette($theme-primary) !important;
  padding: 20px;
}

.card-radius {
  border-radius: 20px !important;
}


@include mat.core($fontConfig);

.dark-theme {
  background: mat.get-color-from-palette($mat-dark-theme-background) !important;
  * {
    color: $light-text !important;
  }
  @include mat.all-component-colors($altTheme);
}

@include mat.all-component-themes($theme);