@use "@angular/material" as mat;
@import "/src/styles/light-theme";
@import "/src/styles/dark-theme";
@import '~@angular/material/theming';
@import '/src/styles/variables.scss';

body {
  height: 100vh;
  margin: 0;

  //Light theme background color
  background: mat.get-color-from-palette($my-app-light-background, 100) !important;
}

* {
  //Light theme default text color
  color: mat.get-color-from-palette($my-app-light-foreground, 900) !important;
}

.color-alternate {
  //Light theme alternate text color - for darker backgrounds
  color: mat.get-color-from-palette($my-app-light-foreground, 100) !important;
}

mat-icon {
  font-size: 22px !important;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.card {
  background: $container-background !important;
  padding: 20px;
}

.card-radius {
  border-radius: 20px !important;
}

$typography-configuration: mat.define-typography-config(
  $font-family: '"Exo", sans-serif'
);

@include mat.core($typography-configuration);

.dark-theme {
  background: mat.get-color-from-palette($my-app-dark-background, 900) !important;
  * {
    color: mat.get-color-from-palette($my-app-light-foreground, 100) !important;
  }
  @include mat.all-component-colors($my-app-dark-theme);
}

@include mat.all-component-themes($my-app-light-theme);

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}
